/*@font-face { 
    font-family: Metropolis; 
    src: url('../font-face/Metropolis-Regular.otf'); 
    src: url('../font-face/Metropolis-Medium.otf'); 
}*/
html {   
    font-family: 'MetropolisRegular';
}
body {
    position: relative;
    margin: 0;
}
p {
    font-family: 'MetropolisRegular';
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 auto 20px; 
    font-weight: 700;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
li {
    margin-bottom: 10px;
}
img {
    width: 100%;
    height: 100%;
    line-height: 0;
}
img:hover {
    opacity: 0.9;
}
button {
    font-family: "Niramit", sans-serif;
    letter-spacing: 1rem;
}
.text-center {
    text-align: center;
}
.text-blue {
    color: #A8B7CA;
}
.text-white {
    color: white;
}
.bg-black {
    background-color: black;
}
.bg-blue {
    background-color: #A8B7CA;
}
.btn {
    padding: 12px 44px;
    min-width: 12.125rem;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
.containerBig, .containerSmall  {
    margin: auto;
}
.wrap {
    position: relative;
}

.displaynone{
    display: none;
}

/*Header*/
.menu-bars__wrap {
    width: 32px;
    height: 20px;
    display: inline-block;
    margin-right: 20px;
}
.menu-bars__row {
    display: block;
    background: #000;
    height: 2px;
    margin-bottom: 7px;
}
.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__mid {
    height: 100%;
}
.header__mid a {
    height: 100%;
}
a.btn.bg-black {
    border: 1px solid black;
}
a.btn.bg-black:hover {
    background-color: white;
    color: black;
}

/*Main*/
.banner {
    width: 100%;
    height: 100%;
    line-height: 0;
}
.box-img-s, .box-img-b {    
    overflow: hidden;
    line-height: 0;
}
.box-img-s img, .box-img-b img {
    transition: all .3s ease;
}
.box-img-s:hover img, .box-img-b:hover img {
    transform: scale(1.5);
}
.subtitle {
    margin-bottom: 14px;
    line-height: 22px;
}
blockquote {
    margin: 0;
    letter-spacing: 1px;
}
i.fas.fa-chevron-down {
    padding-left: 20px;
}
.text {
    font-size: 0.825rem;
}
a.btn.bg-blue {
    border: 1px solid #A8B7CA;
}
a.btn.bg-blue:hover {
    background-color: white;
    color: #A8B7CA;
}
a.link {
    font-size: 15px;
}
.link {
    margin-bottom: 30px;
}

/*Footer*/
ul.social-group {
    display: inline-flex;
}
ul.social-group li {
    margin-right: 15px;
}
ul.social-group li a:hover {
    color: #a8b7ca;
}
.footer a {
    color: white;
}
.footer__menu {
    display: flex;
}
.footer__form {
    border: 1px solid white;
    padding: 20px;
}
.footer__copyright {
    padding-bottom: 20px;
}
.footer__top h2 {
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 30px;
}
.footer__top h2:before {
    position: absolute;
    content: "";
    width: 25px;
    height: 1px;
    background: #fff;
    bottom: 0;
    left: 0;
}
.footer__follow {
    margin-bottom: 20px;
    clear: both;
}


/*RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE*/


@media screen and (max-width: 767px) {
    .containerBig, .containerSmall  {
        width: 100%;  
    }
    .header__wrap {
        height: 65px;
    }
    .header {
        height: 59px;
    }
    .header, .gallery, .footer {
        padding: 0 20px;
    }
    .header__right {
        display: none;
    }
    .header__mid {
        text-align: right;
    }
    .header__mid img {
        width: 78%;
    }
    .intro, .block-text {
        padding: 61px 20px;
    }
    p {
        text-align: left;
        margin: 0;
    }
    blockquote {
        padding: 30px 100px;
        text-transform: uppercase;
        font-size: 15px;
    }
    blockquote p {
        margin: 20px 0 0;
        font-size: 10px;
    }
    h2.about {
        font-size: 25px;
        margin-bottom: 8px;
    }
    h2.title {
        font-size: 22px;
        letter-spacing: 0px;
        line-height: 0;
        text-align: center;
    }
    .text p {
        font-size: 16px;
        line-height: 1.5;
    }
    .btn-fixed {
        border-top: 2px solid white;
        padding: 20px;
        letter-spacing: 3px;
        /*position: fixed;
        top: 100%;
        bottom: 0;
        z-index: 1;*/
    }
    .btn-fixed:hover {
        background-color: white;
    }
    .btn-fixed a:hover {
        color: black;
        font-weight: 600;
    }
    a.btn.bg-blue {
        display: block;
        margin-bottom: 10px;
    }
    .btn-group {
        padding-top: 20px;
    }
    .gallery-grid {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .box-img-s {
        width: calc(50% - 9px);
        margin-bottom: 13px;
        padding-top: 5px;
    }
    .box-img-b {
        padding-top: 4px;
    }
    span.foundation {
        padding-left: 50%; 
    }
}
@media screen and (min-width: 768px) {
    .containerBig  {
        width: 87.5%;
    }
    .header__wrap {
        height: 87px;
    }
    .header__mid {
        text-align: center;
    }

    .btn-fixed {
        display: none;
    }
    .intro {
        padding: 119px 0 100px;
    }
    h2.title {
        font-size: 32px;
        letter-spacing: 0px;
        margin-bottom: 25px;
    }
    h2.about {
        font-size: 40px;
        letter-spacing: 0;
        line-height: 1;
    }
    blockquote p {
        margin: 25px 0 0;
        font-size: 1.5rem;
    }
    .gallery-wrap {
        display: flex;
        justify-content: space-between;
    }
    .gallery-grid {
        width: 49%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .gallery-big {
        width: calc(50% - 20px);
    }
    
    .box-img-s {
        width: calc(50% - 20px);
    }
    .box-img-s:nth-child(1), .box-img-s:nth-child(2) {        
        margin-bottom: 37px;
    }
    .btn-group div {
        display: inline-flex;
        padding: 14px 31px 0 0;
    }
    .btn.bg-blue {
        padding: 12px 28px;
    }
    span.foundation {
        padding-left: 15%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {    
    .text p {
        font-size: 14px;
        line-height: 2;
    }
    #cta {
        border-top: 1px solid #A8B7CA;;
    }
    .header__mid img {
        width: 80%;
    }
    .header__right.btn {
        padding: 7px 35px;
    }
    .block-text-wrap {
        text-align: center;
    }    
    .containerSmall {
        width: 70%;
    }
    .block-text {
        padding: 40px 0;
        width: 70%;
        margin: auto;
        text-align: center;
    }
    blockquote {
        font-size: 25px;
        padding: 40px 0;
    }
    blockquote p {
        margin: 15px 0 0;
        font-size: 12px;
    }
}

@media screen and (max-width: 1023px) {   
    span.menu {
        display: none;
    }
    .link, .btn-view-price {
        display: none;
    }
    .footer__copyright p {
        text-align: center;
        padding: 0 20% 30px;
        font-size: 11px;
    }
    .footer {
        font-size: 0.825rem;
    }
    .footer__top h2 {
        font-size: 0.9rem;
    }
    .footer__links {
        float: left;
        margin-right: 30%;
        margin-bottom: 30px;
    }
    .footer__top--wrap {
        padding: 30px 0;
    }
}

@media screen and (min-width: 1024px) {
    span.menu {
        font-size: 15px;
    }    
    .footer__top h2 {
        font-size: 1rem;
    }
    .footer__top--wrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 90px 0;
    }
}

@media screen and (max-width: 1919px) {      
    .block-img {
        width: 100%;
    }
    .block-text-img {
        display: flex;
        flex-wrap: wrap;
    }
    #cta {
        border-top: 1px solid #A8B7CA;;
    }
    .order2 {
        order: 2;
    }
    .order1 {
        order: 1;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1919px) {
    .block-text {
        padding: 50px 0;
        width: 50%;
        margin: auto;
        text-align: center;
    }     
    .containerSmall {
        width: 70%;
    }
    .block-text {
        padding: 40px 0;
        width: 70%;
        margin: auto;
        text-align: center;
    }     
    .text p {
        font-size: 16px;
        line-height: 2;
    }
    blockquote {
        font-size: 30px;
        padding: 60px 0;
    }
    blockquote p {
        margin: 15px 0 0;
        font-size: 15px;
    }
}

@media screen and (min-width: 1920px) {
    .block-text-img {
        display: flex;
        border: 1px solid #eee;
    }
    .block-text {
        width: 31.5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .block-text-wrap {
        width: 65%;
    }
    .block-img {
        width: 68.5%;
    }
    .containerSmall {
        width: 50%;
    }
    .containerFooter {
        width: 75%;
        margin: auto;
    }
    .text p {
        font-size: 16px;
        line-height: 1.5;
    }
    blockquote {
        font-size: 30px;
        padding: 90px 0;
    }
    blockquote p {
        margin: 30px 0 0;
        font-size: 19px;

    }
    .footer__copyright p {
        font-size: 14px;
    }

}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 35px;
    margin-left: 50px;
}

.btn-view-price {
    position: fixed;
    transform: rotate(-90deg);
    z-index: 1;
    right: -140px;
    top: 540px;
}